@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #0644BF, #47E3FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.left-login > h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    color:white;
}

.left-login > h2 {
    font: 2vw;
    margin: 0px 0px;
    color: white;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #545454;
    font-weight: 800;
    margin: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.text-field > input {
    width: 100%;
    border: 1px solid #545454;
    border-radius: 20px;
    padding: 15px;
    background: rgb(211, 211, 211);
    color: #545454;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #66666656;
    outline: none;
    box-sizing: border-box;
}

.text-field > label {
    color: #545454;
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    color: #00000030;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    background-image: linear-gradient(130deg, #0644BF, #47E3FF);
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #08cbf3;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        width: 50vw;
    }
    .card-login {
        width: 90%;
    }
}

